@model IEnumerable<DemoGSE.ViewModels.BookViewModel>


@if (TempData["Message"] != null)
{
    <div class="container" style="margin-top:20px">
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    </div>
}

<a class="btn btn-primary" asp-action="Create" style="margin-top: 20px">New Book</a>
   
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreationDate))                   
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |                    
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
